VITE_PORTFOLIO_NAME=Pratibha Jape
VITE_PRIMARY_ROLE=Software Engineer
VITE_SECONDARY_ROLE=DevOps Engineer
VITE_CONTACT_EMAIL=pratibhajape09@gmail.com
VITE_CONTACT_PHONE=+91 9834452715
VITE_LOCATION=Pune, India
VITE_GITHUB_USERNAME=piujape09
VITE_GITHUB_URL=https://github.com/piujape09
VITE_LINKEDIN_URL=https://www.linkedin.com/in/pratibha-jape-80182b245
VITE_RESUME_URL=/Pratibha Jape.pdf
VITE_CALENDLY_URL=